[submodule "vim/pack/colours/opt/gruvbox-material"]
        path = vim/pack/colours/opt/gruvbox-material
        url = https://github.com/sainnhe/gruvbox-material.git
[submodule "vim/pack/colours/opt/colorizer"]
        path = vim/pack/colours/opt/colorizer
        url = https://github.com/lilydjwg/colorizer.git
[submodule "vim/pack/colours/opt/papercolor"]
        path = vim/pack/colours/opt/papercolor
        url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim/pack/colours/opt/one"]
        path = vim/pack/colours/opt/one
        url = https://github.com/rakr/vim-one.git
[submodule "vim/pack/file-system/start/nerdtree"]
        path = vim/pack/file-system/start/nerdtree
        url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/file-system/start/startify"]
        path = vim/pack/file-system/start/startify
        url = https://github.com/mhinz/vim-startify.git
[submodule "vim/pack/git/start/fugitive"]
        path = vim/pack/git/start/fugitive
        url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/git/start/gv"]
        path = vim/pack/git/start/gv
        url = https://github.com/junegunn/gv.vim.git
[submodule "vim/pack/git/start/rhubarb"]
        path = vim/pack/git/start/rhubarb
        url = https://github.com/tpope/vim-rhubarb.git
[submodule "vim/pack/git/start/signify"]
        path = vim/pack/git/start/signify
        url = https://github.com/mhinz/vim-signify.git
[submodule "vim/pack/file-system/start/undotree"]
        path = vim/pack/file-system/start/undotree
        url = https://github.com/mbbill/undotree.git
[submodule "vim/pack/syntax/start/python"]
        path = vim/pack/syntax/start/python
        url = https://github.com/purpleP/python-syntax.git
[submodule "vim/pack/syntax/start/flake8"]
        path = vim/pack/syntax/start/flake8
        url = https://github.com/nvie/vim-flake8.git
[submodule "vim/pack/syntax/start/vim-cool"]
        path = vim/pack/syntax/start/vim-cool
        url = https://github.com/romainl/vim-cool.git
[submodule "vim/pack/file-system/start/tabman.vim"]
        path = vim/pack/file-system/start/tabman.vim
        url = https://github.com/kien/tabman.vim
[submodule "vim/pack/syntax/start/rainbow_parentheses"]
        path = vim/pack/syntax/start/rainbow_parentheses
        url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/pack/plugins/start/airline"]
        path = vim/pack/plugins/start/airline
        url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/plugins/opt/magnum"]
        path = vim/pack/plugins/opt/magnum
        url = https://github.com/glts/vim-magnum
[submodule "vim/pack/plugins/opt/radical"]
        path = vim/pack/plugins/opt/radical
        url = https://github.com/glts/vim-radical
[submodule "vim/pack/plugins/start/repeat"]
        path = vim/pack/plugins/start/repeat
        url = https://github.com/tpope/vim-repeat
[submodule "vim/pack/plugins/start/floaterm"]
        path = vim/pack/plugins/start/floaterm
        url = https://github.com/voldikss/vim-floaterm.git
[submodule "vim/pack/plugins/start/helpme"]
        path = vim/pack/plugins/start/helpme
        url = https://github.com/leftbones/helpme-vim.git
        branch = main
[submodule "vim/pack/plugins/start/speeddating"]
        path = vim/pack/plugins/start/speeddating
        url = https://github.com/tpope/vim-speeddating
[submodule "vim/pack/plugins/start/spelunker"]
        path = vim/pack/plugins/start/spelunker
        url = https://github.com/kamykn/spelunker.vim.git
[submodule "vim/pack/plugins/start/goyo"]
        path = vim/pack/plugins/start/goyo
        url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/pack/writing/opt/bullets"]
        path = vim/pack/writing/opt/bullets
        url = https://github.com/dkarter/bullets.vim.git
[submodule "vim/pack/writing/opt/limelight"]
        path = vim/pack/writing/opt/limelight
        url = https://github.com/junegunn/limelight.vim.git
[submodule "vim/pack/writing/opt/vimwiki"]
        path = vim/pack/writing/opt/vimwiki
        url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/pack/writing/start/supertab"]
        path = vim/pack/writing/start/supertab
        url = https://github.com/ervandew/supertab.git
[submodule "vim/pack/writing/start/wordmotion"]
        path = vim/pack/writing/start/wordmotion
        url = https://github.com/chaoren/vim-wordmotion.git
[submodule "vim/pack/writing/start/smartpairs"]
        path = vim/pack/writing/start/smartpairs
        url = https://github.com/gosukiwi/vim-smartpairs.git
[submodule "vim/pack/writing/start/unimpaired"]
        path = vim/pack/writing/start/unimpaired
        url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/pack/writing/start/tabular"]
        path = vim/pack/writing/start/tabular
        url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/writing/start/surround"]
        path = vim/pack/writing/start/surround
        url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/writing/start/commentary"]
        path = vim/pack/writing/start/commentary
        url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/writing/start/cursorword"]
        path = vim/pack/writing/start/cursorword
        url = https://github.com/itchyny/vim-cursorword.git
[submodule "vim/pack/writing/start/easymotion"]
        path = vim/pack/writing/start/easymotion
        url = https://github.com/easymotion/vim-easymotion.git
[submodule "doc/CEH-Study-Guide"]
        path = doc/CEH-Study-Guide
        url = https://github.com/imrk51/CEH-v11-Study-Guide.git
[submodule "vim/pack/file-system/start/fzf"]
        path = vim/pack/file-system/start/fzf
        url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/file-system/start/fzf.vim"]
        path = vim/pack/file-system/start/fzf.vim
        url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/plugins/start/fake"]
        path = vim/pack/plugins/start/fake
        url = https://github.com/tkhren/vim-fake.git
[submodule "vim/pack/syntax/start/autopep8"]
	path = vim/pack/syntax/start/autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "vim/pack/syntax/start/autoflake"]
	path = vim/pack/syntax/start/autoflake
	url = https://github.com/tell-k/vim-autoflake.git
[submodule "vim/pack/syntax/start/pydocstring"]
	path = vim/pack/syntax/start/pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
[submodule "vim/pack/writing/start/markdown-toc"]
	path = vim/pack/writing/start/markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc.git
[submodule "vim/pack/colours/opt/colors"]
	path = vim/pack/colours/opt/colors
	url = https://github.com/romainl/vim-colors.git
[submodule "vim/pack/colours/opt/malotru"]
	path = vim/pack/colours/opt/malotru
	url = https://github.com/romainl/vim-malotru.git
[submodule "vim/pack/plugins/start/maximizer"]
	path = vim/pack/plugins/start/maximizer
	url = https://github.com/szw/vim-maximizer.git
