[submodule "pack/file-system/start/nerdtree"]
	path = pack/file-system/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/file-system/start/startify"]
	path = pack/file-system/start/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/git/start/fugitive"]
	path = pack/git/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/git/start/gv"]
	path = pack/git/start/gv
	url = https://github.com/junegunn/gv.vim.git
[submodule "pack/git/start/rhubarb"]
	path = pack/git/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "pack/git/start/signify"]
	path = pack/git/start/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/syntax/start/python"]
	path = pack/syntax/start/python
	url = https://github.com/purpleP/python-syntax.git
[submodule "pack/syntax/start/flake8"]
	path = pack/syntax/start/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "pack/syntax/start/cool"]
	path = pack/syntax/start/cool
	url = https://github.com/romainl/vim-cool.git
[submodule "pack/file-system/start/tabman"]
	path = pack/file-system/start/tabman
	url = https://github.com/kien/tabman.vim
[submodule "pack/plugins/start/airline"]
	path = pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/repeat"]
	path = pack/plugins/start/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/plugins/start/floaterm"]
	path = pack/plugins/start/floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule "pack/plugins/start/helpme"]
	path = pack/plugins/start/helpme
	url = https://github.com/leftbones/helpme-vim.git
	branch = main
[submodule "pack/plugins/start/speeddating"]
	path = pack/plugins/start/speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "pack/plugins/start/spelunker"]
	path = pack/plugins/start/spelunker
	url = https://github.com/kamykn/spelunker.vim.git
[submodule "pack/plugins/start/goyo"]
	path = pack/plugins/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "pack/writing/start/supertab"]
	path = pack/writing/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/writing/start/wordmotion"]
	path = pack/writing/start/wordmotion
	url = https://github.com/chaoren/vim-wordmotion.git
[submodule "pack/writing/start/smartpairs"]
	path = pack/writing/start/smartpairs
	url = https://github.com/gosukiwi/vim-smartpairs.git
[submodule "pack/writing/start/unimpaired"]
	path = pack/writing/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/writing/start/tabular"]
	path = pack/writing/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/writing/start/surround"]
	path = pack/writing/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/writing/start/commentary"]
	path = pack/writing/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/writing/start/cursorword"]
	path = pack/writing/start/cursorword
	url = https://github.com/itchyny/vim-cursorword.git
[submodule "pack/writing/start/easymotion"]
	path = pack/writing/start/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/file-system/start/fzf"]
	path = pack/file-system/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/file-system/start/fzf.vim"]
	path = pack/file-system/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/syntax/start/autopep8"]
	path = pack/syntax/start/autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "pack/syntax/start/pydocstring"]
	path = pack/syntax/start/pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
[submodule "pack/writing/start/markdown-toc"]
	path = pack/writing/start/markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc.git
[submodule "pack/plugins/start/maximizer"]
	path = pack/plugins/start/maximizer
	url = https://github.com/szw/vim-maximizer.git
[submodule "pack/syntax/start/shellcheck"]
	path = pack/syntax/start/shellcheck
	url = https://github.com/itspriddle/vim-shellcheck.git
[submodule "pack/writing/start/thesaurus_query"]
	path = pack/writing/start/thesaurus_query
	url = https://github.com/Ron89/thesaurus_query.vim.git
[submodule "pack/writing/start/wordy"]
	path = pack/writing/start/wordy
	url = https://github.com/preservim/vim-wordy.git
[submodule "pack/syntax/start/python-syntax-highlighting"]
	path = pack/syntax/start/python-syntax-highlighting
	url = https://github.com/hdima/python-syntax.git
[submodule "pack/writing/start/limelight"]
	path = pack/writing/start/limelight
	url = https://github.com/junegunn/limelight.vim.git
[submodule "pack/writing/start/bullets"]
	path = pack/writing/start/bullets
	url = https://github.com/dkarter/bullets.vim.git
[submodule "pack/writing/start/rainbow_parentheses"]
	path = pack/writing/start/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "pack/plugins/start/calculator"]
	path = pack/plugins/start/calculator
	url = https://github.com/fedorenchik/calculator.vim.git
[submodule "pack/plugins/start/magnum"]
	path = pack/plugins/start/magnum
	url = https://github.com/glts/vim-magnum.git
[submodule "pack/plugins/start/radical"]
	path = pack/plugins/start/radical
	url = https://github.com/glts/vim-radical.git
[submodule "pack/colours/opt/gruvbox-material"]
	path = pack/colours/opt/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
[submodule "pack/colours/start/colorSchemeExplorer"]
	path = pack/colours/start/colorSchemeExplorer
	url = https://github.com/jlanzarotta/colorSchemeExplorer.git
[submodule "pack/file-system/start/bufexplorer"]
	path = pack/file-system/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "pack/git/start/gitgutter"]
	path = pack/git/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/writing/start/abolish"]
	path = pack/writing/start/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/file-system/start/mundo"]
	path = pack/file-system/start/mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "pack/writing/start/caser"]
	path = pack/writing/start/caser
	url = https://github.com/arthurxavierx/vim-caser.git
[submodule "pack/writing/start/expand-region"]
	path = pack/writing/start/expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "pack/api/start/wakatime"]
	path = pack/api/start/wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule "pack/syntax/start/shfmt"]
	path = pack/syntax/start/shfmt
	url = https://github.com/z0mbix/vim-shfmt.git
[submodule "pack/writing/start/vimdent"]
	path = pack/writing/start/vimdent
	url = https://github.com/jessekelighine/vindent.vim.git
[submodule "pack/api/start/gnupg"]
	path = pack/api/start/gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "pack/plugins/start/eval-expression"]
	path = pack/plugins/start/eval-expression
	url = https://github.com/fvictorio/vim-eval-expression.git
[submodule "pack/colours/start/colorizer"]
	path = pack/colours/start/colorizer
	url = https://github.com/lilydjwg/colorizer
[submodule "pack/colours/start/awesome-vim-colorschemes"]
	path = pack/colours/start/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes
